/*=====================
	SLIDER
======================*/
#content_home_page #slider {
 	clear: both;
    margin-left: -20px;
    width: 1024px;
}

#content_home_page #slider .bandeau-slider {
	background-color: rgba(0,0,0,.7);
    bottom: 0;
    height: 51px;
    padding: 5px 0 0 19px;
    position: absolute;
    width: 100%;
}
/*=======================
	derniere_actu	
=======================*/
#content_home_page #derniere_actu {
	width:500px;
	float:left;
	margin-bottom: 50px;
}

#content_home_page #derniere_actu h2 {
	background: url("../img-maquette/actu-picto.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-family: "allerregular";
    font-size: 22px;
    font-weight: bold;
	padding:6px 0px 13px 50px;
    vertical-align: top;
}

#content_home_page #derniere_actu .trait-droit {
	width:120px;
	height:8px;
	background:#282828;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:16px;
	width: 198px;
}

#content_home_page #derniere_actu article {
	margin-top:20px;
	clear:both;
	position:relative;
	 height: 125px;
}

#content_home_page #derniere_actu article div h1 {
	font-family:'allerlight';
	font-weight:bold;
}

#content_home_page #derniere_actu article div h1+p {
font-family:'allerlight';
	font-weight:bold;
	font-style:italic;
	 margin-top: 3px;
}

#content_home_page #derniere_actu article div h1 + p + p {
	font-family: 'quattrocento_sansregular';
	margin-top: 5px;
}

#content_home_page #derniere_actu article img {
	width:170px;
	height:120px;
	float:left;
	margin-right: 10px;
}

#content_home_page #derniere_actu article .lire_suite {
	position:absolute;
	bottom:7px;
	right:5px;
	background:#009ece;
	padding:5px 8px;
	font-family: 'quattrocento_sansregular';
	font-weight:bold;
	font-size: 14px;
}

/*=======================
	EVENEMENTS
=======================*/
#content_home_page #conteneur-event-news {
	float:right;
	width:430px;
}

#content_home_page #conteneur-event-news  #evenement h2 {
  	background: url("../img-maquette/event-picto.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);font-family: "allerregular";
    font-size: 22px;
    font-weight: bold;
    padding: 6px 0 13px 50px;
    vertical-align: top;
	display:inline-block;
}

#content_home_page #conteneur-event-news  #evenement .trait-droit {
	background: none repeat scroll 0 0 #282828;
    display: inline-block;
    height: 8px;
    margin-bottom: 16px;
    vertical-align: bottom;
    width: 142px;
}

#content_home_page #conteneur-event-news  #evenement div p .jour_event {
	background:#15A6D2;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding:10px;
	font-family:"allerregular";
	font-weight:bold;
	margin-right: 5px;
}

#content_home_page #conteneur-event-news  #evenement .un_event {
	margin-top:20px;
	font-family:"allerregular";
	font-weight:bold;
}

#content_home_page #conteneur-event-news  #evenement .un_event h3 {
	font-family: "quattrocento_sansregular";
    font-weight: normal;
    margin-top: 20px;
}

/*============================
		Newsletter
============================*/
#content_home_page #conteneur-event-news #newsletter {
    background-position: 421px 5px;
    padding:5px;
	margin-top:35px;
}
	
#content_home_page #conteneur-event-news #newsletter h2 {
	font-family:"allerregular";
	font-weight:bold;
	text-align:center;
	font-size: 16px;
}

#content_home_page #conteneur-event-news #newsletter input[type="text"] {
	border:2px solid #282828;
	width:196px;
	height:25px;
	margin-top:5px;
}

#content_home_page #conteneur-event-news #newsletter input[type="email"] {
	border:2px solid #282828;
	width:292px;
	height:25px;
	margin-top:5px;
}

#content_home_page #conteneur-event-news #newsletter form {
	position:relative;
}

#content_home_page #conteneur-event-news #newsletter input[type="submit"] {
    height: 31px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: 41px;
    width: 105px;
	font-size: 14px;
}

/*==============================
	Selection BD
================================*/
#content_home_page #selection_bd {
	clear:both;
	margin-top:50px;
}
	
#content_home_page #selection_bd .trait-gauche {
	width:274px;
	height:8px;
	background:#282828;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:5px;
}

#content_home_page #selection_bd .trait-droit {
	width:274px;
	height:8px;
	background:#282828;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:5px;
}

#content_home_page #selection_bd h2 {
	display:inline-block;
	vertical-align:top; 
	font-family: "allerregular";
    font-size: 30px;
    font-weight: bold;
	 margin: 0 7px;
}

#content_home_page #selection_bd #conteneur {
    background-position: 965px 5px;
    margin-top: 20px;
    padding: 20px;
}

#content_home_page #selection_bd #conteneur div {
	width:250px;
	display:table-cell;
	 width: 330px;
	 text-align:center;
}

#content_home_page #selection_bd #conteneur div img {
	width:165px;
	height:205px;
}

#content_home_page #selection_bd #conteneur div h3{
	font-family: "allerregular";
    font-size:18px;
    font-weight: bold;
	margin:5px 0px;
}

#content_home_page #selection_bd #conteneur div p {
	font-family:'allerlight';
	font-size:14px;
	margin:10px 0px;
}

#content_home_page #selection_bd #conteneur div a {
    height: 31px;
    text-align: center;
    width: 85px;
	padding:3px 5px;
	margin-top:5px;
	font-size: 15px;
}

/*===========================
	PAGE ACTUALITES
==========================*/
.une_actualite {
	margin:15px 0px;
	position:relative;
}

.une_actualite .photo_miniature {
	display:inline-block;
	vertical-align:top;
	width:200px;
} 

.une_actualite .content_actualite {
	display:inline-block;
	vertical-align:top;
	width:750px;
	font-family:"allerlight";
} 

.une_actualite .content_actualite h2 {
	font-family: "allerregular";
	font-size:17px;
	margin-bottom:5px;
}

.une_actualite .content_actualite p {
	font-family: "quattrocento_sansregular";
	margin-top:5px;
}

.une_actualite .content_actualite h2 + span {
	font-style:italic;
	text-decoration:underline;
}

.une_actualite .content_actualite h2 + span + span + span {
	font-weight:bold;
}

.une_actualite .content_actualite .lire_suite {
	bottom: 4px;
    float: right;
    position: absolute;
    right: 1px;
    height: 21px;
    padding-top: 7px;
    text-align: center;
    width: 120px;
}

/*===========================
	PAGE ACTUALITES_SEULE
==========================*/
.actualite_seule h2 {
	text-align:center;
	font-family:"allerregular";
	font-size:25px;
	margin-bottom:10px;
}

.actualite_seule h2 + img {
	display:block;
	margin:0px auto;
}

.actualite_seule h2 + img + br + span {
	display:block;
	text-align:center;
	font-family:"allerlight";
	margin-bottom:10px;
}

.actualite_seule h2 + img + br + span + p {
	font-family: "quattrocento_sansregular";
	font-size:17px;
	line-height:19px;
	margin-bottom:10px;
}

.actualite_seule h2 + img + br + span + p + p {
	font-family:"allerlight";
	font-size:13px;
}

.actualite_seule h2 + img + br + span + p + p span:first-child {
	text-decoration:underline;
}

.actu_complementaire {
	font-family:"allerregular";
	font-size:15px;
	margin:5px 0px; 
}

.actu_complementaire + a {
	font-family:"allerlight";
	font-size:13px;
	margin:5px 0px; 
	text-decoration:underline;
}

/*===========================
	PAGE REDACTEUR
==========================*/
#content_redacteur h2 {
	font-family: "allerregular";
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#content_redacteur img {
	display: block;
    margin: 0 auto;
}

#content_redacteur p {
	font-family: "quattrocento_sansregular";
    font-size: 17px;
    line-height: 19px;
    margin: 10px 0px;
}

#content_redacteur p span {
	/*font-weight:bold;*/
}

#content_redacteur  .article_auteur {
	font-family: "allerregular";
    font-size: 15px;
    margin: 5px 0;
}

#content_redacteur a {
	font-family: "allerlight";
    font-size: 13px;
    margin: 5px 0;
    text-decoration: underline;
}

/*===========================
	PAGE EVENEMENTS
==========================*/
.un_evenement {
	font-family: 'quattrocento_sansregular';
    height: 30px;
    margin-bottom: 30px;
    padding-top: 14px;
	padding-left:10px;
    position: relative;
	position:relative;
}

.un_evenement span +h2 +span {
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
}

.un_evenement a {
    bottom: 6px;
    height: 21px;
    padding-top: 7px;
    position: absolute;
    right: 10px;
    width: 145px;
}

.un_evenement h2 {
	font-family:"allerregular";
	display:inline-block;
	font-size: 16px;
	margin: 0 5px;
}

/*===========================
	PAGE EVENEMENTS_SEUL
==========================*/

#fiche_evenement h2 {
	font-family: "allerregular";
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#fiche_evenement img {
	display: block;
    margin: 0 auto;
}

#fiche_evenement p {
	font-family: "quattrocento_sansregular";
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 10px;
}

#fiche_evenement a {
    display: block;
    height: 33px;
    padding-top: 2px;
    width: 129px;
	float:right;
}

/*=========================
 	FORUM	
=========================*/
#forum .filtre {
  	margin: 5px 2px;
    padding: 4px 8px;
}

#forum a:first-child {
	display: inline-block;
    margin-bottom: 10px;
}

#forum {
	width: auto;
	margin: 0px auto 15px auto;
	text-align:center;	
}

div.post-forum.block-border {
	position:relative;
}

div.post-forum.block-border span {
	font-style:italic;
}

div.post-forum.block-border a + br + span + br + span + span {
  	position: absolute;
    right: 10px;
    top: 16px;
    font-style:normal;
}

/*==========================
	UN SUJET DU FORUM 
======================*/

#content_forum_sujet .un_post_forum div {
	float: left;
}

#content_forum_sujet .un_post_forum div p {
	text-align: center;
}

#content_forum_sujet .un_post_forum div + p {
	display: inline-block;
	margin:15px 0px 0px 15px;
}

#content_forum_sujet .un_post_forum div + p + p {
	position: absolute;
	bottom: 5px;
	right: 15px;
	font-style: italic;
}

#content_forum_sujet h2 {
	text-align: center;
	font-size: 25px;
	font-family:'allerregular';
}

#content_forum_sujet form {
	display : inline-block;
}


#content_forum_sujet textarea {
	border:2px solid #282828;
	width: 500px;
	max-width: 500px;
	height:85px;
	max-height: 200px;
	margin-bottom : 5px;
}

#content_forum_sujet .un_post_forum + span + br + p {
	font-size: 15px;
	font-family:'allerregular';
	margin:10px 0px;
}

#content_forum_sujet input[type="submit"] {
	padding: 3px 4px;
}

/*================================
 	Nouveau sujet sur le forum
=================================*/
#content_nouveau_sujet_forum {
    font-family: 'quattrocento_sansregular';
    width: 600px;
    margin : 30px auto 0px auto;
    padding: 20px 30px;
}

#content_nouveau_sujet_forum h2 {
	text-align:center;
	font-family:'allerregular';
	font-size: 20px;
	margin-bottom : 20px;
}

#content_nouveau_sujet_forum form label {
	display: block;
    width: 200px;
    float: left;
    margin-bottom:5px;
}

#content_nouveau_sujet_forum form label[for="message"] {
	margin-top: 9px;
}

#content_nouveau_sujet_forum form select {
	width: 207px;
	border: 2px solid #282828;
}


#content_nouveau_sujet_forum form input[type="text"],
#content_nouveau_sujet_forum form textarea {
	border: 2px solid #282828;
	width: 200px;
}

#content_nouveau_sujet_forum form textarea {
	margin : 10px 0px;
}
#content_nouveau_sujet_forum form input[type="submit"] {
    margin: 20px auto;
	display:block;
    padding: 3px 4px;
}

/*================================================
 		PAGE DE CONNEXION & PAGE INSCRIPTION
=================================================*/

/*A nettoyer connexion et inscription => réduire le CSS*/

/* Connexion */

#form_connexion {
	width:300px;
	margin:0px auto;
	font-family : 'quattrocento_sansregular';
	padding: 20px 30px;
}

#form_connexion h2,
#form_inscription h2 {
	text-align:center;
	font-size:20px;
	font-family: 'allerregular';
	margin-bottom:20px;
}

#form_connexion label {
    display: block;
    width: 150px;
    float: left;
    margin-bottom:5px;
}

#form_connexion input {
	margin-bottom : 10px;
}

#form_connexion input[type="email"],
#form_connexion input[type="password"] {
	border : 2px solid #282828;
}

#form_connexion input[type="submit"] {
	display: block;
    height: 30px;
    margin: 10px auto;
    width: 100px;
}

#form_connexion p,
#form_inscription p  {
	text-align:center;
	text-decoration:underline;
}

/* Inscription */

#form_inscription {
	width:500px;
	margin:0px auto;
	font-family : 'quattrocento_sansregular';
	padding: 20px 30px;
}

#form_inscription label {
    display: block;
    width: 220px;
    float: left;
    margin-bottom:5px;
}

#form_inscription label[for="monsieur"],
#form_inscription label[for="madame"] {
	float:none;
	display: inline;
}

#form_inscription input[type="radio"] {
	width:auto;
	margin-bottom: 16px;
}

#form_inscription input[type="submit"] {
	display: block;
    height: 30px;
    margin: 10px auto;
    width: 100px;
}

#form_inscription input {
	margin-bottom : 10px;
	border : 2px solid #282828;
	width:168px;
}

/*==========================
	ESPACE MEMBRES
===========================*/
#membre_content {
	padding: 20px 0px;
}

#membre_content h2 {
	text-align:center;
	font-size:20px;
	font-family: 'allerregular';
	margin-bottom:20px;
}

#membre_content label {
    display: block;
    width: 220px;
    float: left;
}

#membre_content input {
	margin-bottom:10px;
}

#membre_content a.bouton-bleu,
#membre_content a.bouton-rouge {
	padding:4px 5px;
	display: inline-block;
}

#membre_content #infos_membre a {
	margin-top:15px;
}



/*===========================================
	ESPACE MEMBRES  => modifier les infos
============================================*/ 
#membre_content #infos_membre,
#membre_content #posts_forum {
	 margin: 0 auto;
    width: 415px;
}

#content_modif_info {
	padding : 10px 0px;
}
#content_modif_info h2 {
	text-align:center;
	font-size:20px;
	font-family: 'allerregular';
	margin-bottom:20px;
}

#content_modif_info label {
 	display: block;
    float: left;
    width: 150px;	
}

#content_modif_info select {
	 width: 142px;
}

#content_modif_info div {
	width: 400px;
	margin: 0px auto;
}


/*modif mdp*/

#modif-mdp {
	padding: 20px 0px;
}

#modif-mdp h2 {
	text-align:center;
	font-size:20px;
	font-family: 'allerregular';
	margin-bottom:20px;	
}

#modif-mdp label {
		display: block;
    width: 250px;
    float: left;
}

#modif-mdp div {
	width: 400px;
	margin: 0px auto;
}


/*========================
	BOUTIQUE 
=========================*/
#les_filtres {
	width:250px;
	display:inline-block;
	vertical-align : top;
}
#les_bd {
	width:700px;
	display: inline-block;
	vertical-align : top;
}

#les_bd .produit {
	display:inline-block;
	vertical-align:top;
	width:220px;
	margin-bottom:20px;
	text-align:center;
}

#les_bd .produit a{
	padding:3px 2px;
}

#les_bd .produit p {
	margin:10px 0px;
}

/*========================
	FICHE PRODUIT (boutique)
=========================*/
#content_fiche_produit {
	 font-family: 'quattrocento_sansregular';
}

#content_fiche_produit .photos {
	display: inline-block;
	vertical-align: top;
	width: 255px;
}

#content_fiche_produit .informations_bd {
	display: inline-block;
	vertical-align: top;
	width: 695px;
	margin-left: 20px;	
}

#content_fiche_produit .informations_bd div:first-child {
	border : 2px solid #282828;
	padding : 5px;
	margin-bottom : 20px;
}

#content_fiche_produit .informations_bd div:first-child h1 {
	font-size:30px;
	font-family: 'allerregular';
}

#content_fiche_produit .informations_bd div:first-child ul li,
#content_fiche_produit .informations_bd div:first-child p {
	line-height: 25px;
}

#content_fiche_produit .informations_bd div:last-child {
	padding-left: 5px;
}

#content_fiche_produit .informations_bd div:last-child p {
	margin-bottom:13px;
}

#content_fiche_produit .informations_bd div:last-child a {
	padding : 4px 2px;
	display: inline-block;
}



#content_fiche_produit .resume_bd {
	border : 2px solid #282828;
	padding : 5px;
	margin : 15px 0px;
}

#content_fiche_produit .resume_bd h2 {
	margin-bottom : 5px;
	font-size: 18px;
	font-family: 'allerregular';
}


#content_fiche_produit .bd_complementaire {
	border : 2px solid #282828;
	padding : 5px 10px 15px 10px;
}

#content_fiche_produit .bd_complementaire h2 {
	margin-bottom : 5px;
	font-size: 18px;
	font-family: 'allerregular';
	text-align: center;
}

#content_fiche_produit .bd_complementaire .produit_complementaire {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#content_fiche_produit .bd_complementaire h2 + div + div   {
	margin : 0px 245px ;
}

#content_fiche_produit .bd_complementaire .produit_complementaire img {
	margin-bottom: 10px;
}

#content_fiche_produit .bd_complementaire .produit_complementaire a {
	margin: 0px auto;
}

/*========================
	PANIER
=========================*/
.content_panier table,
.content_panier table th
.content_panier table tr,
.content_panier table  td{
	border : 2px solid #282828;
}

.content_panier table {
	width: 974px;
}


#page_panier .recap_livraison {
	border : 2px solid #282828;
	float: left;
	padding : 5px 10px;
}

#page_panier .recap_prix {
	border : 2px solid #282828;
	float: right;
	padding : 5px 10px;
}

#page_panier div.clear  p {
	float: left;
}

#page_panier div.clear + p + br + p {
	float: right;
}

