/*=====================
	SLIDER
======================*/
#content_home_page #slider {
	clear:both;
	margin-top:10px;
}

/*=======================
	derniere_actu	
=======================*/
#content_home_page #derniere_actu {
	width:500px;
	float:left;
	margin-bottom: 50px;
}

#content_home_page #derniere_actu h2 {
	background: url("../img-maquette/actu-picto.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-family: "allerregular";
    font-size: 22px;
    font-weight: bold;
	padding:6px 0px 13px 50px;
    vertical-align: top;
}

#content_home_page #derniere_actu .trait-droit {
	width:120px;
	height:8px;
	background:#15A6D2;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:16px;
	width: 198px;
}

#content_home_page #derniere_actu article {
	margin-top:20px;
	clear:both;
	position:relative;
	 height: 125px;
}

#content_home_page #derniere_actu article div h1 {
	font-family:'allerlight';
	font-weight:bold;
}

#content_home_page #derniere_actu article div h1+p {
font-family:'allerlight';
	font-weight:bold;
	font-style:italic;
	 margin-top: 3px;
}

#content_home_page #derniere_actu article div h1 + p + p {
	font-family: 'quattrocento_sansregular';
	margin-top: 5px;
}

#content_home_page #derniere_actu article img {
	width:170px;
	height:120px;
	float:left;
	margin-right: 10px;
}

#content_home_page #derniere_actu article .lire_suite {
	position:absolute;
	bottom:7px;
	right:5px;
	background:#009ece;
	padding:5px 8px;
	font-family: 'quattrocento_sansregular';
	font-weight:bold;
	font-size: 14px;
}

/*=======================
	EVENEMENTS
=======================*/
#content_home_page #conteneur-event-news {
	float:right;
	width:430px;
}

#content_home_page #conteneur-event-news  #evenement h2 {
  	background: url("../img-maquette/event-picto.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);font-family: "allerregular";
    font-size: 22px;
    font-weight: bold;
    padding: 6px 0 13px 50px;
    vertical-align: top;
	display:inline-block;
}

#content_home_page #conteneur-event-news  #evenement .trait-droit {
	background: none repeat scroll 0 0 #15a6d2;
    display: inline-block;
    height: 8px;
    margin-bottom: 16px;
    vertical-align: bottom;
    width: 142px;
}

#content_home_page #conteneur-event-news  #evenement div p .jour_event {
	background:#15A6D2;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding:10px;
	font-family:"allerregular";
	font-weight:bold;
	margin-right: 5px;
}

#content_home_page #conteneur-event-news  #evenement .un_event {
	margin-top:20px;
	font-family:"allerregular";
	font-weight:bold;
}

#content_home_page #conteneur-event-news  #evenement .un_event h3 {
	font-family: "quattrocento_sansregular";
    font-weight: normal;
    margin-top: 20px;
}

/*============================
		Newsletter
============================*/
#content_home_page #conteneur-event-news #newsletter {
    background-position: 421px 5px;
    padding:5px;
	margin-top:35px;
}
	
#content_home_page #conteneur-event-news #newsletter h2 {
	font-family:"allerregular";
	font-weight:bold;
	text-align:center;
	font-size: 16px;
}

#content_home_page #conteneur-event-news #newsletter input[type="text"] {
	border:2px solid #4c4c4c;
	width:196px;
	height:25px;
	margin-top:5px;
}

#content_home_page #conteneur-event-news #newsletter input[type="email"] {
	border:2px solid #4c4c4c;
	width:292px;
	height:25px;
	margin-top:5px;
}

#content_home_page #conteneur-event-news #newsletter form {
	position:relative;
}

#content_home_page #conteneur-event-news #newsletter input[type="submit"] {
    height: 31px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: 41px;
    width: 105px;
	font-size: 14px;
}

/*==============================
	Selection BD
================================*/
#content_home_page #selection_bd {
	clear:both;
	margin-top:50px;
}
	
#content_home_page #selection_bd .trait-gauche {
	width:274px;
	height:8px;
	background:#282828;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:5px;
}

#content_home_page #selection_bd .trait-droit {
	width:274px;
	height:8px;
	background:#282828;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:5px;
}

#content_home_page #selection_bd h2 {
	display:inline-block;
	vertical-align:top; 
	font-family: "allerregular";
    font-size: 30px;
    font-weight: bold;
	 margin: 0 7px;
}

#content_home_page #selection_bd #conteneur {
    background-position: 965px 5px;
    margin-top: 20px;
    padding: 20px;
}

#content_home_page #selection_bd #conteneur div {
	width:250px;
	display:table-cell;
	 width: 330px;
	 text-align:center;
}

#content_home_page #selection_bd #conteneur div img {
	width:165px;
	height:205px;
}

#content_home_page #selection_bd #conteneur div h3{
	font-family: "allerregular";
    font-size:18px;
    font-weight: bold;
	margin:5px 0px;
}

#content_home_page #selection_bd #conteneur div p {
	font-family:'allerlight';
	font-size:14px;
	margin:10px 0px;
}

#content_home_page #selection_bd #conteneur div a {
    height: 31px;
    text-align: center;
    width: 85px;
	padding:3px 5px;
	margin-top:5px;
	font-size: 15px;
}

/*===========================
	PAGE ACTUALITES
==========================*/
.une_actualite {
	margin:15px 0px;
	position:relative;
}

.une_actualite .photo_miniature {
	display:inline-block;
	vertical-align:top;
	width:200px;
} 

.une_actualite .content_actualite {
	display:inline-block;
	vertical-align:top;
	width:750px;
	font-family:"allerlight";
} 

.une_actualite .content_actualite h2 {
	font-family: "allerregular";
	font-size:17px;
	margin-bottom:5px;
}

.une_actualite .content_actualite p {
	font-family: "quattrocento_sansregular";
	margin-top:5px;
}

.une_actualite .content_actualite h2 + span {
	font-style:italic;
	text-decoration:underline;
}

.une_actualite .content_actualite h2 + span + span + span {
	font-weight:bold;
}

.une_actualite .content_actualite .lire_suite {
	bottom: 4px;
    float: right;
    position: absolute;
    right: 1px;
    height: 21px;
    padding-top: 7px;
    text-align: center;
    width: 120px;
}

/*===========================
	PAGE ACTUALITES_SEULE
==========================*/
.actualite_seule h2 {
	text-align:center;
	font-family:"allerregular";
	font-size:25px;
	margin-bottom:10px;
}

.actualite_seule h2 + img {
	display:block;
	margin:0px auto;
}

.actualite_seule h2 + img + br + span {
	display:block;
	text-align:center;
	font-family:"allerlight";
	margin-bottom:10px;
}

.actualite_seule h2 + img + br + span + p {
	font-family: "quattrocento_sansregular";
	font-size:17px;
	line-height:19px;
	margin-bottom:10px;
}

.actualite_seule h2 + img + br + span + p + p {
	font-family:"allerlight";
	font-size:13px;
}

.actualite_seule h2 + img + br + span + p + p span:first-child {
	text-decoration:underline;
}

.actu_complementaire {
	font-family:"allerregular";
	font-size:15px;
	margin:5px 0px; 
}

.actu_complementaire + a {
	font-family:"allerlight";
	font-size:13px;
	margin:5px 0px; 
	text-decoration:underline;
}

/*===========================
	PAGE REDACTEUR
==========================*/
#content_redacteur h2 {
	font-family: "allerregular";
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#content_redacteur img {
	display: block;
    margin: 0 auto;
}

#content_redacteur p {
	font-family: "quattrocento_sansregular";
    font-size: 17px;
    line-height: 19px;
    margin: 10px 0px;
}

#content_redacteur p span {
	/*font-weight:bold;*/
}

#content_redacteur  .article_auteur {
	font-family: "allerregular";
    font-size: 15px;
    margin: 5px 0;
}

#content_redacteur a {
	font-family: "allerlight";
    font-size: 13px;
    margin: 5px 0;
    text-decoration: underline;
}

/*===========================
	PAGE EVENEMENTS
==========================*/
#un_evenement {
	font-family: 'quattrocento_sansregular';
    height: 30px;
    margin-bottom: 30px;
    padding-top: 14px;
	padding-left:10px;
    position: relative;
	position:relative;
}

#un_evenement span +h2 +span {
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
}

#un_evenement a {
    bottom: 6px;
    height: 21px;
    padding-top: 7px;
    position: absolute;
    right: 10px;
    width: 145px;
}

#un_evenement h2 {
	font-family:"allerregular";
	display:inline-block;
	font-size: 16px;
	margin: 0 5px;
}

/*===========================
	PAGE EVENEMENTS_SEUL
==========================*/

#fiche_evenement h2 {
	font-family: "allerregular";
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#fiche_evenement img {
	display: block;
    margin: 0 auto;
}

#fiche_evenement p {
	font-family: "quattrocento_sansregular";
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 10px;
}

#fiche_evenement a {
    display: block;
    height: 33px;
    padding-top: 2px;
    width: 129px;
	float:right;
}