/*=========================
   Styles du tunnel de vente
 ========================*/

/*header du tunnel de vente*/

#logo  {
	display: inline-block;
	vertical-align: top;
}

#logo + h2 {
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	color: #fff;
	font-family: 'allerregular';
	margin-left:150px;
	margin-top:80px;
}

#logo + h2 + div {
	display: inline-block;
	vertical-align: top;
	float:right;
	margin-top:80px;
}

#logo + h2 + div a {
	padding: 3px 4px;
}

/*fin  du header du tunnel de vente*/



/* styles des 3 étapes */
.etape_en_cours {
	font-weight: bold;
}

.autre_etape {
	opacity: 0.5;
}

.etape {
	margin-bottom:80px;
}

.etape ul li {
	float: left;
	font-size:21px;
	margin : 0px 50px;
	font-family: 'allerregular';
}

/* fin des styles des 3 étapes */

.wrapper {
	width:974px;
	margin:0px auto;
	background:/*#F9F9F9*/  #fff;
	padding:  20px 25px 20px 25px;
	min-height: 650px;
}


/* Etape 1 du tunnel */

.deja_membre h2,
.pas_membre h2 {
	font-family: 'allerregular';
	font-size:20px;
	text-align: center;
	margin-bottom:15px;
}

.deja_membre label,
.pas_membre label {
	width: 185px;
	display: block;
	float:left;
}

.pas_membre input[type="checkbox"] {
	clear: both;
}

.deja_membre {
	display : inline-block;
	vertical-align : top;
	width: 350px;
	border : 2px solid #282828;
	padding : 10px 15px;
	height:200px;
	float: left;
	position: relative;
}

.pas_membre {
	display : inline-block;
	vertical-align : top;
	width: 350px;
	border : 2px solid #282828;
	padding : 10px 15px;
	height:200px;
	float: right;
	position: relative;
}

.pas_membre input[type="text"], .pas_membre input[type="email"],
.deja_membre input[type="text"], .deja_membre input[type="email"],
.deja_membre input[type="password"], .pas_membre input[type="password"] {
	margin-bottom:10px;
}

.pas_membre .bouton-bleu,
.deja_membre .bouton-bleu {
	position: absolute;
	bottom: 15px;
	right: 150px;
	padding: 4px 5px;
}

/* fin de l'Etape 1 du tunnel */

/*ETAPE 2 DU TUNNEL  (a et b) */

.info_livraison {
	border : 2px solid #282828;
	padding : 10px 15px;
	font-family: "quattrocento_sansregular";
}

.info_livraison h2 {
	font-size: 25px;
	margin : 0px 0px 20px 0px;
}

.info_livraison input[type="text"],
.info_livraison input[type="email"],
.info_livraison input[type="radio"] {
	margin-bottom:10px;	
}

.info_livraison label {
	float: left;
	width: 200px;
}

.info_livraison label[for="monsieur"],
.info_livraison label[for="madame"] {
	float: none;
}

.info_livraison  p.gras {
	font-size: 20px;
	font-family: "quattrocento_sansregular";
	margin : 0px 0px 20px 0px;
}



/*ETAPE 3 DU TUNNEL  */

.content_tunnel3 {
	margin: 0px auto;
}

.tableau_paiement {
	 font-family: 'quattrocento_sansregular';
	 margin: 0px auto;
	 margin-bottom: 20px;
}

.tableau_paiement th {
	padding : 0px 5px;
	border : 2px solid #282828;
}

.tableau_paiement,
.tableau_paiement tr,
.tableau_paiement  td,
.tableau_paiement thead tr th {
	border : 2px solid #282828;
}

.produit_recap {
	width:460px;
	position: relative;
}

.produit_recap p {
	left: 160px;
    position: absolute;
    top: 68px;
  }

.produit_recap img {
	padding : 15px;
}

.tableau_paiement  td {
	position: relative;
}

.tableau_paiement tbody tr td:first-child + td p ,
.tableau_paiement tbody tr td:first-child + td + td p{
	left: 26px;
    position: absolute;
    top: 68px;
}

.tableau_paiement tfoot tr,
.tableau_paiement tfoot td {
	border: none;
}

.tableau_paiement tfoot {
	background: #282828;
	color: #fff;
	padding: 10px 0px;
}

.tableau_paiement tfoot tr td:first-child {
	padding: 15px 0 15px 15px;
}

.tableau_paiement tfoot tr td:last-child {
	padding-right: 18px;
    text-align: right;
}

.tableau_paiement + p a {
	padding: 2px 3px;
}